library(shiny)
library(shinydashboard)
library(shinyBS)

dashboardPage(
  skin = "green",
  dashboardHeader(title = {{{title}}}),
  dashboardSidebar(
    width = 300,
    sidebarMenu(
      id = "wholeThing",
      {{{menuItems}}}
    ),
    sidebarFooter()
  ),
  dashboardBody(
    tabItems(
      {{{tabItems}}}
    ),
    copyrightFooterUI("copyright")
  )
)
